<!-- About Section -->
	<section class="success" id="about">
	    <div class="container">
	        <div class="row">
	            <div class="col-lg-12 text-center">
	                <h2>About</h2>
	                <hr class="star-light">
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-lg-4 col-lg-offset-2">
	                <p>I'm a part time web developer that loves tabletop games and RPG's. On my spare time I'm always trying to create tools for my games, wether it's LotR, A Song of Ice and Fire or Cthulhu.</p>
	            </div>
	            <div class="col-lg-4">
	                <p>Even though many of these are still under development, I thought it would be nice to let people use them, collaorate and suggest improvements. You can make suggestions by opening github issues. Feel free to make pull requests as well!!</p>
	            </div>
	            <div class="col-lg-8 col-lg-offset-2 text-center">
	                <a href="https://github.com/ondoheer" target="_blank" class="btn btn-lg btn-outline">
	                    <i class="fa fa-download">Go to my Github</i> 
	                </a>
	            </div>
	        </div>
	    </div>
	</section>